@media screen and (max-width: 700px) {
  html {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .product-container {
    flex-direction: column;
  }
  .slide-img {
    width: 400px;
    margin: auto;
  }
  .carousel-control-prev,
  .carousel-control-next {
    margin-top: 30px;
    height: 50px;
    width: 50px;
  }

  .product-prev .preview {
    height: 550px;
    width: 80%;
  }
  .product-prev .preview.active {
    flex-direction: column;
  }
  .preview .card-container {
    flex-direction: column;
  }
  .preview .line-cont {
    display: none;
  }
  .product-prev .preview .img-card {
    height: 250px;
    width: 200px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .product-prev .preview .img-card img {
    max-width: 100%;
    height: auto;
  }
  .product-prev .preview .bursh_text {
    font-size: 15px;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .preview .disc {
    width: 100%;
  }
  .product-prev .preview .line2 {
    width: 50px;
  }
  .preview .disc .details li {
    margin: 0;
  }
  .preview .img-card {
    width: 200px;
    height: 200px;
  }

  /* Side Bar */
  .btn {
    display: block;
  }
  .btn .icon{
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .navBar {
    display: none;
  }
}
